body {
  background-image: url("images/ticTacToe.jpg");
  color: black;
  width: 100%;
  height: 100%;
  font: 30px "Century Gothic", Futura, sans-serif;
    margin: 200px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.column {
  float: left;
  width: 40%;
  padding: 10px;
  height: 350px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.status {
  color: #fff;
  margin-bottom: 20px;
  margin-left: 20px;
}

.square {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}


.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  /*background-image: url("images/ticTacToe.jpg");*/
  background: #ffffff;
  width: 550px;
  display: flex;
  flex-direction: column;
}

.game-info {
  background: #fff;
  margin-left: 20px;
}

